#background {
  height: 100%;
  /* width: 100%; */
  padding: 0;
  background: white;
  background-image: url("./assets/virus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
  opacity: 0.9;
}
